{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {   
    "quotes": ["error", "single", { "avoidEscape": true }],
    "indent": ["error", 2],
    "max-len": [2, 120, {
      "ignoreStrings": true,
      "ignoreComments": true
    },
  ],
  "react/prop-types":0,
  "react/react-in-jsx-scope": "off"
}
}
